.subscribe {
  @include media-breakpoint-down(lg) {
    &__imgWrapper {
      margin-bottom: 50px;
    }
  }

  &__img-pos {
    display: flex;
  }

  &__form {
    width: 427px;
    margin-right: auto;
    padding: 36px 38px 17px;
    border-radius: 16px;
    background-color: $brand-primary;
  }

  @include media-breakpoint-down(lg) {
    &__form {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 29px;
    line-height: calc(35 / 29);

    color: #ffffff;
  }

  &__btn-font {
    margin-top: 25px;
    margin-bottom: 17px;
  }
}
