<section class="subscribe container" id="getStarted">
  <div class="row align-items-center justify-content-between subscribe__inner-wrapper">
    <div class="col-lg-6  subscribe__img-wrapper">
      <img class="subscribe__img-pos" src="assets/content-image02.png" alt="Customer" width="300"
           height="auto"/>
    </div>
    <form class="subscribe__form col-lg-6  d-flex flex-column align-items-center ">
      <p class="subscribe__title">Grow your subscription</p>
      {% include "../../components/input/input.twig" with { 'id': 'Location', 'placeholder':'Location' } %}
      {% include "../../components/input/input.twig" with { 'id': 'typeOfOffice', 'placeholder':'Type' } %}
      {% include "../../components/input/input.twig" with { 'id': 'date', 'placeholder':'Date' } %}
      <button type="submit" class="subscribe__btn-font btn btn-secondary">SEND</button>
    </form>
  </div>
</section>
