<section class="container subscribe" id="getStarted">
  <div class="row align-items-center justify-content-between subscribe__innerWrapper">
    <div class="col-lg-6  subscribe__imgWrapper">
      <img class="subscribe__img-pos" src="assets/png/ContentImage02.png" alt="Customer" width="300"
           height="auto"/>
    </div>
    <form class="subscribe__form col-lg-6  d-flex flex-column align-items-center ">
      <p class="subscribe__title">Grow your subscription</p>
      <div>
        <label for="Location" class="form-label"></label>
        <input type="text" class="subscribe__input form-control" id="Location" placeholder="Location">
      </div>
      <div>
        <label for="typeOfOffice" class="form-label"></label>
        <input type="text" class="subscribe__input form-control" id="typeOfOffice" placeholder="Type">
      </div>
      <div>
        <label for="date" class="form-label"></label>
        <input type="text" class="subscribe__input form-control" id="date" placeholder="Date">
      </div>
      <button type="submit" class="subscribe__btn-font btn btn-secondary">SEND</button>
    </form>
  </div>
</section>
