//@mixin mobile {
//    @media screen and (max-width: 768px) {
//        @content;
//    }
//}

@mixin hover-effect {
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 32px 34px rgba(255, 112, 59, 0.317827);
    transform: translateY(-5px);
  }
}

$primary-color: #5454d4;
$secondary-color: #ff7143;
$title: #19191b;

body {
  font-family: "DM Sans", sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Mulish', sans-serif;
  letter-spacing: 0.03em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

p,
ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

section {
  padding-top: 100px;
}

button {
  border: none;
}

.container {
  //padding-top: 30px;
  //width: 1920px;
  //gap: 10px;
}

@include media-breakpoint-down(sm) {
  .container {
    padding-top: 20px;
    width: 576px;
  }
}

.btn {
  border: none;
  width: 211px;
  height: 60px;
  font-size: 17px;
  line-height: calc(20 / 17);
  letter-spacing: -0.531474px;
  @include hover-effect;
}

.btn-secondary {
  background-color: $secondary-color;
}

.centeredTextBtn {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
