//@mixin mobile {
//    @media screen and (max-width: 768px) {
//        @content;
//    }
//}


$primary-color: #5454D4;
$secondary-color: #FF7143;


body {
    font-family: "DM Sans", sans-serif;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Mulish', sans-serif;
    letter-spacing: 0.03em;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: currentColor;
}

p, ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}
section {
    padding-top: 100px;
}
button {
    border: none;
}
.container {
    padding-top: 30px;
    width: 1920px;
    gap:10px;
}
@include media-breakpoint-down(sm) {
    .container {
        padding-top: 20px;
        width: 576px;
    }
}


.btn{
    border: none;
    width: 211px;
    height: 60px;
    font-size: 17px;
    line-height: calc(20/17);
    letter-spacing: -0.531474px;
}


.btn-secondary {
    background-color: $secondary-color;
}
