<footer class="container-fluid  text-light py-3 mt-5 footer">
  <div class="row">
    <div class="col-md-6">
      <p>Copyright © 2023
        <a href="#">ForForce</a>
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <a class="mx-2" href="#">Privacy Policy</a>
      <a class="mx-2" href="#">Terms of Use</a>
    </div>
  </div>
</footer>


