<section class="container d-md-flex advantages" id="advantages">

  <div class="row justify-content-center">
    <div class="col-lg-4">
      <svg class="advantages__img"  area-label="credit card" width="151" >
        <use xlink:href="./assets/symbol_sprite.svg#icon-card"></use>
      </svg>
    </div>
    <h3 class="advantages__title">Benchmarks</h3>
    <p class="advantages__description">See how you stack up against comparable companies in similar stages.</p>
  </div>

  <div class="row row justify-content-center">
    <div class="col-lg-4">
      <svg class="advantages__img"  area-label="calculator" width="151" >
        <use xlink:href="./assets/symbol_sprite.svg#icon-calc"></use>
      </svg>
    </div>
    <h3 class="advantages__title">Pricing Audit</h3>
    <p class="advantages__description">Benchmark the health of your monetization and pricing strategy.</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-4">
      <svg class="advantages__img"  area-label="camera" width="151" >
        <use xlink:href="./assets/symbol_sprite.svg#icon-camera"></use>
      </svg>
    </div>
    <h3 class="advantages__title">Retention Audit</h3>
    <p class="advantages__description">Audit where revenue leakage exists and where you can increase
      retention.</p>
  </div>

</section>
