<section class="container account" data-bs-spy="scroll" data-bs-target="#navbar-scroll" id="account">
  <div class="row account__titleBlock">
    <div class="col-lg-6">
      <h2 class="account__title">Get the right plan for future product.</h2>
    </div>
    <div class="col-lg-6 account__BtnBlock">
      <a class="btn account__Btn account__Btn-first active-btn" data-target="yearly">Yearly</a>
      <a class="btn account__Btn account__Btn-second" data-target="monthly">Monthly</a>
    </div>
  </div>
  <div class="d-lg-flex justify-content-between">
    <div class="row account__card-outerWrapper">
      <div id="starter" class="col-lg-4 account__card">
        <p class="account__card-text">Starter</p>
        <h2 class="account__card-title">Free</h2>
        <ul class="account__card-list">
          <li class="account__card-text">1 Website
          </li>
          <li class="account__card-text">5 GB Hosting
          </li>
          <li class="account__card-text">Limited Support
          </li>
        </ul>
{#        <a href="#getStarted" class="btn account__cardBtn">Get Started</a>#}
        {% include "../../components/button/button.twig" with { 'class': 'account__cardBtn' } %}
      </div>
    </div>
    <div class="row account__card-outerWrapper " data-target='monthly'>
      <div id="premium" class="col-lg-4 account__card">
        <p class="account__card-text">Premium</p>
        <h2 class="account__card-title">$29/month</h2>
        <ul class="account__card-list">
          <li class="account__card-text">10 Website
          </li>
          <li class="account__card-text">15 GB Hosting
          </li>
          <li class="account__card-text">Premium Support
          </li>
        </ul>
{#        <a href="#getStarted" class="btn account__cardBtn">Get Started</a>#}
        {% include "../../components/button/button.twig" with { 'class': 'account__cardBtn' } %}
      </div>
    </div>
    <div class="row account__card-outerWrapper active-card" data-target='yearly'>
      <div id="enterprise" class="col-lg-4 account__card">
        <p class="account__card-text">Enterprise</p>
        <h2 class="account__card-title">$49/year</h2>
        <ul class="account__card-list">
          <li class="account__card-text">Unlimited Website
          </li>
          <li class="account__card-text">50 GB Hosting
          </li>
          <li class="account__card-text">Premium Support
          </li>
        </ul>
{#        <a href="#getStarted" class="btn account__cardBtn">Get Started</a>#}
        {% include "../../components/button/button.twig" with { 'class': 'account__cardBtn' } %}
      </div>
    </div>
  </div>
</section>
