<section class="account" data-bs-spy="scroll" data-bs-target="#navbar-scroll" id="account">
  <div class="row account__title-block">
    <div class="col-lg-6">
      <h2 class="account__title">Get the right plan for future product.</h2>
    </div>
    <div class="col-lg-6 js--account__btn-block account__btn-block">
      <a class="btn js--account__btn account__btn-first active-btn" data-target="yearly">Yearly</a>
      <a class="btn js--account__btn account__btn-second" data-target="monthly">Monthly</a>
    </div>
  </div>
  <div class="d-lg-flex justify-content-between">
    <div class="row js--account__card-outer-wrapper account__card-outer-wrapper">
      <div id="starter" class="col-lg-4 account__card">
        <p class="account__card-text">Starter</p>
        <h2 class="account__card-title">Free</h2>
        <ul class="account__card-list">
          <li class="account__card-text">1 Website
          </li>
          <li class="account__card-text">5 GB Hosting
          </li>
          <li class="account__card-text">Limited Support
          </li>
        </ul>
        {% include "../../components/btn/btn.twig" with { 'class': 'account__card-btn' } %}
      </div>
    </div>
    <div class="row js--account__card-outer-wrapper account__card-outer-wrapper" data-target='monthly'>
      <div id="premium" class="col-lg-4 account__card">
        <p class="account__card-text">Premium</p>
        <h2 class="account__card-title">$29/month</h2>
        <ul class="account__card-list">
          <li class="account__card-text">10 Website
          </li>
          <li class="account__card-text">15 GB Hosting
          </li>
          <li class="account__card-text">Premium Support
          </li>
        </ul>
        {% include "../../components/btn/btn.twig" with { 'class': 'account__card-btn' } %}
      </div>
    </div>
    <div class="row js--account__card-outer-wrapper active-card account__card-outer-wrapper" data-target='yearly'>
      <div id="enterprise" class="col-lg-4 account__card">
        <p class="account__card-text">Enterprise</p>
        <h2 class="account__card-title">$49/year</h2>
        <ul class="account__card-list">
          <li class="account__card-text">Unlimited Website
          </li>
          <li class="account__card-text">50 GB Hosting
          </li>
          <li class="account__card-text">Premium Support
          </li>
        </ul>
        {% include "../../components/btn/btn.twig" with { 'class': 'account__card-btn' } %}
      </div>
    </div>
  </div>
</section>
