<section class="metrics" id="blog">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h2 class="metrics__title">In-depth metrics</h2>
      <p class="metrics__text">Accurate, real-time reporting at your fingertips. Getting data has never been
        easier.</p>
      <a class="metrics__link" href="#starter">Pricing</a>
    </div>
    <div class="col-lg-6">
      <img class="metrics__img-pos" src="assets/Ñontent-image03.png" alt="Customer" width="347"
           height="auto"/>
    </div>
  </div>
</section>
