<div class="item">
  <label for="Location" class="form-label"></label>
  <input type="text" class="input form-control" placeholder="{% if placeholder is defined %} {{ placeholder }}{% endif %}" id="{% if id is defined %} {{ id }}{% endif %}">
</div>
