
//- Grid and Container size
$container-max-widths: (
  lg: 1104px,
  //xl: 1074px,
);
$grid-gutter-width: 15px;
$body-min-width: 320px;

//- Z-index

//- GLOBAL color

//Body colors

//Brand colors
$brand-primary: #5454D4;
$brand-secondary: #FF7143;
$brand-third: #19191b;

//Inform colors

//- Bootstrap

//- TYPOGRAPHY

//Font
$font-size-body: 16px;
$font-family-primary: "DM Sans", sans-serif;
//Font color

//Links colors

