
  .d-inline-block:not(:last-child) {
    margin-right:20px;
  }
  @include media-breakpoint-up(lg) {
    .d-inline-block:not(:last-child) {
      margin-right: 45px;
    }
  }

.d-block {
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  height: 140px;
  display: flex;

}


