<section class="clients">

    <div class="clients__img-wrap">
      <img  class="clients__img" src="./assets/tmp/logoopsum1.svg" alt="clients logo" class="d-inline-block w-20" />
    </div>
    <div class="clients__img-wrap">
      <img  class="clients__img" src="./assets/tmp/logoopsum2.svg" alt="clients logo" class="d-inline-block w-20" />
    </div>
    <div class="clients__img-wrap">
      <img  class="clients__img" src="./assets/tmp/logoopsum3.svg" alt="clients logo" class="d-inline-block w-20" />
    </div>
    <div class="clients__img-wrap">
      <img  class="clients__img" src="./assets/tmp/logoopsum4.svg" alt="clients logo" class="d-inline-block w-20" />
    </div>
    <div class="clients__img-wrap">
      <img  class="clients__img" src="./assets/tmp/logoopsum5.svg" alt="clients logo" class="d-inline-block w-20" />
    </div>

</section>
