.d-block {
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  height: 140px;
  display: flex;
}



.carousel {
  //display: none;
  overflow: hidden;
  width: 150px;
  background-color: #ddd;
}
.carousel__inner {
  width: 750px;
}
.carousel__item {
  display: block;
  width: 150px;
}


//
//@include media-breakpoint-down(md){
//    .carousel {
//      display: block;
//  }
//}
//
//.clients__noSlider {
//  display: block;
//}
//
//@include media-breakpoint-down(md){
//  .clients__noSlider {
//    display: none;
//  }
//}
