@import '../../../node_modules/slick-carousel/slick/slick';

.carousel {
  padding: 0 50px 30px;
  margin: 20px;
  &__img {
    max-height: 50px;
    margin: 0 auto;
  }
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  font-size: 0;

  &::before {
    display: block;
    font-size: 40px;
    line-height: 1;
    color: $brand-third;
  }
  &:hover, &:focus {
    opacity: 0.6;
  }
}

.slick-prev {
  left: 0;

  &::before {
    content: '\276E';
  }
}

.slick-next {
  right: 0;

  &::before {
    content: '\276F';
  }
}

@include media-breakpoint-up(md) {
  .carousel {
    display: flex;
    justify-content: space-between;
   }
}

