<section class="container clients">

  <div class="d-none d-md-flex justify-content-between">
    <svg class="d-inline-block w-20"  area-label="clients logo">
      <use xlink:href="./assets/symbol_sprite.svg#logoopsum1"></use>
    </svg>
    <svg class="d-inline-block w-20"  area-label="clients logo">
      <use xlink:href="./assets/symbol_sprite.svg#logoopsum2"></use>
    </svg>
    <svg class="d-inline-block w-20"  area-label="clients logo">
      <use xlink:href="./assets/symbol_sprite.svg#logoopsum3"></use>
    </svg>
    <svg class="d-inline-block w-20"  area-label="clients logo">
      <use xlink:href="./assets/symbol_sprite.svg#logoopsum4"></use>
    </svg>
    <svg class="d-inline-block w-20"  area-label="clients logo">
      <use xlink:href="./assets/symbol_sprite.svg#logoopsum5"></use>
    </svg>
  </div>

  <div class="d-md-none">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="10000">
          <svg class="d-block w-50"  area-label="clients logo">
            <use xlink:href="./assets/symbol_sprite.svg#logoopsum1"></use>
          </svg>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
          <svg class="d-block w-50"  area-label="clients logo">
            <use xlink:href="./assets/symbol_sprite.svg#logoopsum2"></use>
          </svg>
        </div>

        <div class="carousel-item">
          <svg class="d-block w-50"  area-label="clients logo">
            <use xlink:href="./assets/symbol_sprite.svg#logoopsum3"></use>
          </svg>
        </div>

        <div class="carousel-item">
          <svg class="d-block w-50"  area-label="clients logo">
            <use xlink:href="./assets/symbol_sprite.svg#logoopsum4"></use>
          </svg>
        </div>

        <div class="carousel-item ">
          <svg class="d-block w-50"  area-label="clients logo">
            <use xlink:href="./assets/symbol_sprite.svg#logoopsum5"></use>
          </svg>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
