.clients {
  display: flex;

}

.d-block {
  margin-left: auto;
  margin-right: auto;
}

//.carousel {
//  height: 140px;
//  display: flex;
//}


.carousel {
  //display: none;
  overflow: hidden;
  width: 150px;
  background-color: #ddd;
}
.carousel__inner {
  display: flex;
  overflow: hidden;
  width: 750px;
}
.carousel__item {
  flex-shrink: 0;
  width: 150px;

}
.active {

}


//
//@include media-breakpoint-down(md){
//    .carousel {
//      display: block;
//  }
//}
//
//.clients__noSlider {
//  display: block;
//}
//
//@include media-breakpoint-down(md){
//  .clients__noSlider {
//    display: none;
//  }
//}
