<div class="backdrop backdrop--hidden">
  <div class="modalMenu d-flex align-items-start justify-content-between">
    <ul class="modalMenu__list">
      <li class="modalMenu__item">
        <a class="nav__link" href="./index.html">Home</a>
      </li>
      <li class="modalMenu__item">
        <a class="nav__link" href="#">Features</a>
      </li>
      <li class="modalMenu__item">
        <a class="nav__link" href="#">Pricing</a>
      </li>
      <li class="modalMenu__item">
        <a class="nav__link" href="#">Blog</a>
      </li>
    </ul>
    <div class="d-flex flex-column pt-5">
      <img src="assets/png/Hero3D.png" alt="hero3d" width="300">
      <button type="button" class="btn btn-secondary">Get Started</button>
    </div>
    <button class="close">
      <img src="./assets/svg/close.svg" alt="close"/>
    </button>
  </div>
</div>
