<header class="container d-flex justify-content-between align-items-center header">

  <a href="./main.html">
    <img src="./assets/logo.svg" alt="logo" width="200" height="41"/>
  </a>

  {% include "./nav/nav.twig" %}
  {% include "../../components/btn/btn.twig" with { 'class': 'btn-secondary btn__centered-text btn__hide' } %}
</header>
