<nav id="navbar-scroll" class="nav d-flex align-items-center navbar">
    <span class="js--nav__menu nav__menu">
      <svg width="30" height="30" area-label="mobile menu button">
        <use xlink:href="./assets/symbol_sprite.svg#menu_burger_icon"></use>
      </svg>
    </span>

  <ul class="nav__list js--nav__list justify-content-between">
    <li class="nav__item js--nav__item js--active-link d-flex align-items-center">
      <a class="nav__link" href="./main.html">Home</a>
    </li>
    <li class="nav__item js--nav__item align-items-center">
      <a class="nav__link" href="#advantages">Features</a>
    </li>
    <li class="nav__item js--nav__item align-items-center">
      <a class="nav__link" href="#starter">Pricing</a>
    </li>
    <li class="nav__item js--nav__item align-items-center">
      <a class="nav__link" href="#blog">Blog</a>
    </li>
  </ul>
</nav>
