<section class="hero">
  <div class="row align-items-center">
    <div class="col-lg-6 col-sm-12">
      <h1 class="hero__title">Grow your subscription business</h1>
      <p class="hero__description">
        Outcome-centered products that reduce churn, optimize
        pricing, and grow your subscription business end-to-end.
      </p>

{#      <a href="#getStarted" class="btn btn-primary centeredTextBtn">Get Started</a>#}
      {% include "../../components/button/button.twig" with { 'class': 'btn-primary centeredTextBtn' } %}

      <a href="#account" class="hero__btn">
      <svg width="60" height="60" area-label="button down">
        <use xlink:href="./assets/symbol_sprite.svg#down_arrow"></use>
      </svg>
    </a>
    </div>
    <div class="col-lg-6 col-sm-12 hero__imgWrapper">
      <img
        src="./assets/hero3d.png"
        alt="Hero3D"
        width="610"
        height="auto"
      />
    </div>
  </div>
</section>
