<section class="container hero">
  <div class="row align-items-center">
    <div class="col-lg-5 col-sm-12 ">
      <h1 class="hero__title">Grow your subscription business</h1>
      <p class="hero__description">
        Outcome-centered products that reduce churn, optimize
        pricing, and grow your subscription business end-to-end.
      </p>
      <!--                <button type="button" class="btn btn-primary">-->
      <!--                    Get Started-->
      <!--                </button>-->
      <a href="#getStarted" class="btn btn-primary centeredTextBtn">Get Started</a>
      <button type="button" class="hero__btn">
        <svg width="60" height="60" area-label="кнопка со стрелкой вниз">
          <use xlink:href="./assets/symbol_sprite.svg#downArrow"></use>
        </svg>
      </button>
    </div>
    <div class="col-lg-7 col-sm-12 hero__imgWrapper">
      <img
        src="img/hero3d.png"
        alt="Hero3D"
        width="610"
        height="auto"
      />
    </div>
  </div>
</section>
